[tools]
terraform = "1.12.2"
go = "1.25.4"
golangci-lint = "2.7.2"
goreleaser = "2.13.1"

[tasks.mod]
description = "Download Go modules"
run = "go mod download"

[tasks.build]
description = "Build the project"
depends = ["mod"]
run = "go build -v ./..."

[tasks.install]
description = "Install the provider"
depends = ["build"]
run = "go install -v ./..."

[tasks.lint]
description = "Run linter"
run = "golangci-lint run"

[tasks.generate]
description = "Generate code"
run = "cd tools && go generate ./..."

[tasks.fmt]
description = "Format code"
run = "gofmt -s -w -e ."

[tasks.test]
description = "Run tests"
depends = ["mod"]
run = "go test -v -cover -timeout=120s -parallel=10 ./..."

[tasks.testacc]
description = "Run acceptance tests"
env = { TF_ACC = "1" }
depends = ["mod"]
run = "go test -v -cover -timeout 120m  ./internal/provider/"

[tasks.default]
description = "Run default tasks: fmt, lint, install, generate"
depends = ["fmt", "lint", "install", "generate"]
